

/* Margin*/

section{
    margin-left: 5%;
    margin-right: 5%;
}




/* navbar */

.navbar-collapse{
    height: 5%;
}


.navbar-nav{
    text-align: end;
    font-size: 20px;
}


/* img baner */

.carousel-caption{
    width: 50%;
    top: 50%;
    transform: translateY(-60%) translateX(50%);
    bottom: initial;
    color: rgb(230, 226, 234);
    font-weight: 500;

    font-size: larger;
    
}


/* titulos */

.titulo-centro{
    text-align: center;
}


/* Card-horizonatal*/

.img-card-horizontal{
 width: fit-content;   
}
